includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - config
        - src

    level: max

    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: false
